@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css?family=Arizonia&display=swap');



body {
  margin: 0;
  padding: 0;
  font-family: 'Bitter', cursive;
  margin: 0 auto;
}

.home {
  position: absolute;
  top: 0;
  height: 200%;
  width: 100%;
  background: url("../images/dust_scratches.png");
}

.home-box {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.logo-box {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: url("../images/dust_scratches.png");
  width: 100%;
  height: 250px;
  border-bottom: double 5px dimgrey;
}

.band {
  margin: 0 auto;
  height: 300px;
  width: 300px;
  background: url("../images/Morrows.png") no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.logo {
  height: 134px;
  width: 440px;
  margin: 0 auto;
  margin-top: 2%;
}

.title {
  font-family: "Arizonia", cursive;
  text-shadow: 2px 2px 2px dimgray;
  text-align: center;
  font-size: 3.5em;
}

.main-vid {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2%;
}

.bears {
  margin: 0 auto;
  height: 200px;
  width: 200px;
  margin-top: 100px;
  transition: .5s ease;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  padding: 2%;
  border-bottom: double 5px dimgrey;
  background: whitesmoke;
  transition: .5s ease;
  max-height: 50px;
}

nav a {
  text-decoration: none;
  color: dimgrey;
  margin: 2%;
}
nav a:hover {
  color: #E74C3C;
  cursor: pointer;
}
.current {
  background-color: #E74C3C;
  color: white;
  padding: 5px;
}
.current:hover {
  background-color: #E74C3C;
  color: white;
  padding: 5px;
}



.social {
  height: 30px;
  width: 30px;
  margin-top: -15px;
}

@media screen and (max-width: 700px) {

  .home-box {
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: double 5px dimgrey;
  }

  .logo-box {
    margin: 0 auto;
  }
 
  .band {
    height: 200px;
    width: 200px;
  }
  .title {
    font-size: 1.75em;
  }

  .main-vid > iframe {
    height: 150px;
    width: auto;
  }

  nav {
    flex-flow: column;
    align-items: center;
    font-size: .5em;
    margin-left: 0;
    padding: 10px;
    border-right: double 5px dimgrey;
    border-bottom: none;
    max-height: 300px;
    width: 20%;
  }
  nav a {
    margin-top: 20px;
  }
}


/* About style */

#about-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#photos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 90%;
}
#photos img {
  height: auto;
  width: 28vw;
  margin: 0 5px 0 5px;
}
#photos h3 {
  color: #E74C3C;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bitter', cursive;
  padding-top: 1%;
}

#bio {
  display: flex;
  flex-flow: column;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
}
#bio p {
  font-family: 'Bitter', cursive;
  line-height: 30px;
  text-indent: 10px;
}
#bio p:first-letter {
  font-size: 30px;
}



/* Set style */
 #playlist-box {
   display: flex;
   flex-flow: row;
   align-self: center;
   justify-content: space-around;
   margin: 0 auto;
   width: 90%;
 }

#list {
  margin-left: 5%;
  font-size: .8em;
}
 #list h1 {
   color: #E74C3C;
 }

.song-name {
  color: #E74C3C;
  margin-bottom: -10px;
}
.song-tab {
  color: grey;
}


#playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 5px #E74C3C;
  font-size: .8em;
  width: 330px;
  height: 100%;
  padding: 2%;
}
#playlist img {
  height: auto;
  width: 300px;
}
#playlist audio {
  width: 90%;
}

@media screen and (max-width: 800px) {
  #playlist {
    width: 275px;
  }
  #playlist img {
    width: 275px;
  }
}
@media screen and (max-width: 770px) {
  #playlist {
    width: 250px;
  }
  #playlist img {
    width: 250px;
  }
  #list {
    font-size: .7em;
  }
}

@media screen and (max-width: 700px) {
  #playlist-box {
    flex-flow: column;
    align-items: center;
  }
}

.play-btn {
  height: 10px;
}
.volDown {
  height: 10px;
}
.volUp {
  height: 10px;
}

.bar {
 width: 50px;
}

.player {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
}

/* schedule style */

#info {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}
#info > h1 {
  color: #E74C3C;
}

#schedule {
  margin: 0 auto;
  height: 500px;
  overflow-y: scroll;
  border-top: solid 3px #E74C3C;
  border-bottom: solid 3px #E74C3C;
  margin-bottom: 100px;
}


#dates {
  width: 90%;
  margin: 0 auto;
  font-size: 12px;
}
#dates td {
  padding: 1em;
  border-bottom: solid #17202A 2px;
}
#dates tr:nth-child(even) {
  color: #E74C3C;
}

.upcoming:before {
  content: 'UPCOMING';
  background: red;
  color: white;
  opacity: .7;
}

@media screen and (max-width: 600px) {
  #dates {
    font-size: 10px;
  }
}

/* photos */
.single {
  display: block;
  margin: 0 auto;
  padding: 10px;
  height: auto;
  width: 50%;
}

.img-controls {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  width: 90%;
}
.img-controls li {
  height: 30px;
  width: 30px;
  font-size: 1.5em;
  background: grey;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  user-select: none;
}
.img-controls li:active {
  opacity: .5;
}


.photo-focus {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  height: auto;
  width: 90%;
}

.photo-slider {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  margin-top: 30px;
  width: 90%;
  padding: 10px;
  border-top: solid 5px grey;
  background-color: RGBA(10,10,10,.1);
  margin-bottom: 10px;
}
.slick-arrow {
  height: 100%;
  width: 100%;
  border: none;
  background: gainsboro;
  border-radius: 10px;
  text-align: center;
  outline: none;
}
.photo-slider img{
 margin: 0 10px;
}

.slick-slide, .slick-active {
  outline: none;
}


.thumb {
  height: auto;
  max-width: 50px;
}

/* videos style */

#video {
  display: flex;
  flex-direction: column;
}

#video iframe {
  border: solid 3px #E74C3C;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 575px) {
  #video iframe {
    width: 25em;
  }
}
@media screen and (max-width: 475px) {
  #video iframe {
    width: 20em;
  }
}

/* boooking style */
#book {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
#book img {
  height: auto;
  width: 60vw;
  margin-top: 2em;
}
#contact {
  color: #17202A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 15%;
}

#contact a {
  font-size: 1.25em;
  color: #E74C3C;
  text-decoration: none;
  margin-bottom: 1em;
}
@media screen and (max-width: 600px) {
  #contact {
    font-size: .8em;
  }
}

@media screen and (min-width: 800px) {
  #band {
    max-width: 500px;
  }
  #logo {
    max-width: 500px;
  }
  #photos img {
    max-width: 250px;
  }
  #book img {
    max-width: 500px;
  }
}
