body {
  font-family: 'Jacques Francois Shadow', cursive;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%; 
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  min-width: 40em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-top: solid 5px #666666;
  border-bottom: solid 5px #666666;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1em;
}

nav a {
  color: #666666;
  text-decoration: none;
}
nav a:hover {
  color: #ff3333;
  cursor: pointer;
}
.current {
  background-color: #ff3333;
  color: white;
  padding: 5px;
}

.logo {
  height: auto;
  width: 30em;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  nav {
    font-size: .8em;
  }
}
@media screen and (max-width: 650px) {
  nav {
    font-size: .7em;
  }
  .logo {
    width: 25em;
  }
}
@media screen and (max-width: 550px) {
  nav {
    font-size: .55em;
  }
  .logo {
    width: 20em;
  }
}
@media screen and (max-width: 450px) {
  nav {
    font-size: .25em;
  }
}
