body {
  font-family: 'Jacques Francois Shadow', cursive;
}

.container {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  padding: 0 10% 0 10%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 100%;
}

nav a {
  color: #666666;
  text-decoration: none;
}
nav a:hover {
  color: #ff3333;
  cursor: pointer;
}
.current {
  background-color: #ff3333;
  color: white;
  padding: 5px;
}

.logo {
  height: 30em;
  width: 30em;
  margin: 0 auto;
  margin-top: -15%;
  margin-bottom: -8%;
}
