body {
  background: #666666;
  font-family: 'Jacques Francois Shadow', cursive;
}

#band {
  border: solid 5px #ff3333;
  height: 22em;
  width: 30em;
}
.logo {
  height: 30em;
  width: 30em;
}

@media screen and (max-width: 600px) {
  #band {
    height: 12em;
    width: 20em;
  }
}
