body {
  font-family: 'Jacques Francois Shadow', cursive;
}

#band {
  height: auto;
  width: 30em;
  margin: 0 auto;
}
.logo {
  height: 30em;
  width: 30em;
  margin: 0 auto;
  margin-top: -15%;
  margin-bottom: -8%;
}

@media screen and (max-width: 600px) {
  #band {
    height: 12em;
    width: 19em;
  }
}
