
.container img {
  display: flex;
  align-self: center;
}

.content {
  padding-bottom: 20%;
}

.media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 30%;
}
.media img {
  height: 100%;
  width: 100%;
}

#album {

}
.fade {
  animation: fade 2s ease-in-out;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to  {
    opacity: 1;
  }
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5%;
}
.content img {
  width: 50%;
}
