body {
  color: #666666;
}

.container img {
  display: flex;
  align-self: center;
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  justify-content: space-around;
}

#scheduleImg {
  height: 40%;
  width: 40%;
  margin: 0 auto;
  padding-top: 5%;
}

.dates {
  margin: 0 auto;
}
.dates td {
  padding: 1em;
  border-bottom: solid #666666 2px;
}
.dates tr:nth-child(even) {
  color: #ff3333;
}

@media screen and (max-width: 700px) {
  .info {
    font-size: .75em;
  }
}
