body {
  color: #666666;
}

.container img {
  display: flex;
  align-self: center;
}

.list {
  padding-left: 5%;
}
 .list h1 {
   color: #ff3333;
   display: flex;
   width: 100%;
 }

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#playlist {
  display: flex;
  flex-direction: column;
  border: solid 5px #ff3333;
  height: 35em;
  padding: 1%;
  padding-bottom: 2%;
}
#playlist img {
  height: 10em;
  width: 15em;
}
#playlist audio {
  width: 90%;
}


@media screen and (max-width: 800px) {
  .content {
    flex-direction: column;
  }
}
