.content {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.list {
  padding-left: 5%;
}
 .list h1 {
   color: #ff3333;
   font-size: 1.75em;
   width: 100%;
 }

#playlist {
  display: flex;
  flex-direction: column;
  border: solid 5px #ff3333;
  height: 40em;
  padding: 1%;
  padding-bottom: 2%;
}
#playlist img {
  height: auto;
  width: 20em;
}
#playlist audio {
  width: 100%;
  border: solid red 1px;
}


@media screen and (max-width: 850px) {
  #playlist, #playlist img {
    width: 15em;
  }
  .list {
    font-size: 90%;
  }
}
@media screen and (max-width: 650px) {
  .content {
    flex-flow: column;
    justify-content: space-around;
    margin: 0 auto;
  }
  #playlist {
    margin: 0 auto;
  }
  #playlist audio {
    width: 90%;
  }
}
