.container {
  display: flex;
  flex-direction: column;
}

#video {
  display: flex;
  flex-direction: column;
}

#video iframe {
  border: solid 3px #ff3333;
  margin: 0 auto;
  margin-bottom: 2em;
}

@media screen and (max-width: 575px) {
  #video iframe {
    width: 25em;
  }
}
@media screen and (max-width: 475px) {
  #video iframe {
    width: 20em;
  }
}
